$navbar-height: 91px;

$font-color: (
  primary: white,
  secondary: #74798c,
  ternary: #ff0101,
);

$background-color: (
  primary: #020203,
  secondary: #e5e5e5,
  ternary: #fbfbfb,
);

$border-radius: 6px;
$gap: 20px;
